.cart-container {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .cart-card {
    display: flex;
    background: #f9f9f9;
    width: 800px;
    height: auto;
    border-radius: 16px;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1px 5px rgba(95, 99, 96, 0.767);
  }
  
  .cart-img {
    width: 140px;
    height: auto;
    border-radius: 12px;
    object-fit: cover;
  }
  
  .cart-info {
    flex: 1;
    margin-left: 20px;
  }
  
  .cart-title {
    font-size: 20px;
    color: #03831f;
    margin: 0 0 8px;
  }
  
  .cart-desc {
    margin-bottom: 8px;
    color: #666;
  }
  
  .cart-controls {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .qty-btn {
    background-color: none;
    color: rgb(59, 56, 56);
    border: none;
    width: 30px;
    height: 30px;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .qty {
    font-size: 16px;
    padding: 0 6px;
  }

  .order-summary {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 15px;
    margin-top: 30px;
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 1px 5px rgba(95, 99, 96, 0.767);
  }
  
  .summary-title {
    color: #03831f;
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .summary-detail {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 1rem;
  }
  
  .summary-btn {
    text-align: right;
    margin-top: 20px;
  }
  
  .checkout-btn {
    background-color: #03831f;
    color: white;
    border: none;
    padding: 10px 18px;
    font-size: 1rem;
    border-radius: 12px;
    cursor: pointer;
  }
  
  .checkout-btn:hover {
    background-color: #03831f;
  }
  
  .error-message {
    color: red;
    background-color: #ffe0e0;
    padding: 10px;
    border: 1px solid red;
    border-radius: 5px;
    margin: 10px 0;
    text-align: center;
  }
  
  .remove-btn {
  
  background: none;
  border: none;
  color: #555755;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.2s;
}
